.gjs-heading {
  margin: 0;
  color: rgba(29, 40, 55, 1);
}

.gjs-grid-column {
  flex: 1 1 0%;
  padding: 5px 0;
}

.gjs-grid-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  min-height: auto;
  padding: 10px 0;
}

.gjs-link-box {
  color: inherit;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  max-width: 100%;
  text-decoration: none;
}

.gjs-link {
  vertical-align: top;
  max-width: 100%;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease 0s;
}

.gjs-grid-column.feature-item {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 30%;
}

.gjs-grid-column.testimonial-item {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 45%;
  background-color: rgba(247, 247, 247, 0.23);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  align-items: flex-start;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(0, 0, 0, 0.06);
  border-right-color: rgba(0, 0, 0, 0.06);
  border-bottom-color: rgba(0, 0, 0, 0.06);
  border-left-color: rgba(0, 0, 0, 0.06);
}

.gjs-text-blue {
  color: rgb(36, 99, 235);
}

.gjs-link:hover {
  color: rgb(36, 99, 235);
  text-decoration: underline;
}

.gjs-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.gjs-section {
  display: flex;
  padding: 50px 0;
}

.gjs-plg-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  undefined: undefined;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.gjs-plg-flex-row {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
}

.gjs-plg-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

#miTabla-4 thead th {
  position: sticky;
  top: 0;
  background: rgb(36, 99, 235);
  color: #fff;
  padding: 10px;
}

#miTabla-4 td,
#miTabla-4 th {
  border: 1px solid #ddd;
  padding: 8px;
}

#i4hjm-2-2-2-2-5 {
  padding: 10px;
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(36, 99, 235);
}

#iucmr-2-2-2-2-2-5 {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
}

#iqjl-2-2-2-2-2-5 {
  flex: 0 1 auto;
}

#icfyb-2-3-2-2-2-5 {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

#icfyb-2-2-2-2-2-2-5 {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(36, 99, 235);
}

#infmy1-2-2-2-2-2-5 {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

#irtfd-2-2-2-2-2-5 {
  flex: 0 1 auto;
}

#i88iz-2-2-2-2-2-5 {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

#icyzp-2-2-2-2-2-5 {
  flex: 0 1 auto;
}

#it00l-2-2-2-2-2-5 {
  padding-top: 0px;
  padding-bottom: 0px;
}

#iffs-2-2-2-2-2-5 {
  flex: 0 1 auto;
}

#iyd2-2-2-2-2-2-5 {
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  backdrop-filter: blur(13px);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
}

#itjq-2-2-2-2-2-5 {
  width: 100%;
  max-width: 1200px;
}

#i6po-2-2-2-2-2-5 {
  justify-content: center;
  position: sticky;
  top: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

#irjua-2-2-2-2-2-5 {
  font-size: 3rem;
  text-align: center;
  color: rgb(36, 99, 235);
}

#iycz3-2-2-2-2-2-5 {
  max-width: 1200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#irz7b-2-2-2-2-2-5 {
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

#iics8yg-2-3-3-5 {
  padding: 10px;
}

#itooyh7-2-3-3-2-5 {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-color: rgb(36, 99, 235);
  border-right-color: rgb(36, 99, 235);
  border-bottom-color: rgb(36, 99, 235);
  border-left-color: rgb(36, 99, 235);
  position: static;
  text-align: left;
  align-self: flex-start;
}

#ic8vfy3-5 {
  flex-basis: 50%;
}

#iqisg9q-4-3-6 {
  width: 90%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(36, 99, 235);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border-top-color: rgb(36, 99, 235);
  border-right-color: rgb(36, 99, 235);
  border-bottom-color: rgb(36, 99, 235);
  border-left-color: rgb(36, 99, 235);
  height: 30px;
  align-self: flex-end;
}

#ik9qqll-5 {
  flex-basis: 50%;
}

#ix8kez6-2-3-3-5 {
  padding: 10px;
}

#itooyh7-2-3-3-6 {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-color: rgb(36, 99, 235);
  border-right-color: rgb(36, 99, 235);
  border-bottom-color: rgb(36, 99, 235);
  border-left-color: rgb(36, 99, 235);
}

#ilw15ba-2-3-3-5 {
  padding: 10px;
}

#igk6al6-2-3-3-5 {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-color: rgb(36, 99, 235);
  border-right-color: rgb(36, 99, 235);
  border-bottom-color: rgb(36, 99, 235);
  border-left-color: rgb(36, 99, 235);
}

#it5oyyf-2-3-3-5 {
  padding: 10px;
}

#i5alvcd-2-3-3-5 {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-color: rgb(36, 99, 235);
  border-right-color: rgb(36, 99, 235);
  border-bottom-color: rgb(36, 99, 235);
  border-left-color: rgb(36, 99, 235);
}

#iqnj9da-2-3-3-5 {
  width: 100%;
}

#ie0kk3z-3-3-5 {
  flex-basis: 75%;
}

#iqisg9q-4-3-2-5 {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(36, 99, 235);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border-top-color: rgb(36, 99, 235);
  border-right-color: rgb(36, 99, 235);
  border-bottom-color: rgb(36, 99, 235);
  border-left-color: rgb(36, 99, 235);
  height: 30px;
}

#i5sb9zi-3-3-5 {
  flex-basis: 25%;
}

#ie9q2d7-3-3-5 {
  padding-top: 50px;
  padding-right: 150px;
  padding-bottom: 50px;
  padding-left: 150px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#it6g1v-2-2-2-2-2-5 {
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 20px;
  opacity: 75%;
}

#ilriti-2-2-2-2-2-5 {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

#iv3be5-2-2-2-2-2-5 {
  justify-content: center;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  min-height: 162px;
}

#iau9-2-2-2-2-2-5 {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(180deg, rgba(59, 130, 245, 0.11), white 14%);
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  color: #475569;
}

@media (max-width: 992px) {
  .gjs-grid-row {
    flex-direction: column;
  }

  #it00l-2-2-2-2-2-5 {
    flex-direction: row;
  }

  #iyd2-2-2-2-2-2-5 {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  #iffs-2-2-2-2-2-5 {
    display: none;
  }
}